<div id="movie-page">
    <div class="row">
        <div class="span12"></div>
        <div class="span4" >
            <img class="poster" width="100%" src="{{#if movie.poster_local}}{{movie.poster_local}}{{else}}http://placehold.it/300x400{{/if}}" />
            <div class="stars" data-id="{{movie._id}}" data-rating="{{movie.user_rate}}"></div>
        </div>
        <div class="span8">
            <h2>{{movie.title}} <small>{{movie.year}}</small></h2>

            {{#if movie.slogan}}<p>{{movie.slogan}}</p>{{/if}}
            <br>

            {{#if movie.directors}}<p><strong>Режисер:</strong> {{#join movie.directors}}<a>{{.}}</a>{{/join}}</p>{{/if}}
            <p><strong>Актеры:</strong> {{#join movie.actors start="0" end="5"}}<a>{{.}}</a>{{/join}}</p>
            <p><strong>Жанр:</strong> {{#join movie.genres start="0" end="4"}}<a>{{.}}</a>{{/join}}</p>
            <p></p>
            <p>{{{movie.synopsis}}}</p>
            <p></p>
            <p><a href="http://www.kinopoisk.ru/film/{{movie._id}}/">см. на Кинопоиске</a></p>
        </div>
        {{#if debug}}
        <div class="span12">
            <br>
        </div>
        <div class="span12">
            <pre>{{debug}}</pre>
        </div>
        {{/if}}
    </div>
</div>
