<style>
    .lists .well{
        height: 400px;
        overflow-y: scroll;
    }
    .headers > div{
        font-weight: bold;
    }
</style>


<h4>Profile</h4>
<div class="row-fluid lists">
    <pre>{{json profile}} </pre>

    <pre class="well">{{logs}}</pre>
</div>


<div class="row-fluid headers">
    <div class="span4">Genres</div>
    <div class="span4">Actors</div>
    <div class="span4">Directors</div>
</div>
<div class="row-fluid lists">
    <div class="span4 well">
        {{#genres}}
            <strong>{{key}}</strong> : {{value}}<br/>
        {{/genres}}
    </div>
    <div class="span4 well">
        {{#actors}}
            <strong>{{key}}</strong> : {{value}}<br/>
        {{/actors}}
    </div>
    <div class="span4 well">
        {{#directors}}
            <strong>{{key}}</strong> : {{value}}<br/>
        {{/directors}}
    </div>
</div>
<div class="row-fluid headers">
    <div class="span4">Countries</div>
</div>
<div class="row-fluid lists">
    <div class="span4 well">
        {{#countries}}
            <strong>{{key}}</strong> : {{value}}<br/>
        {{/countries}}
    </div>
</div>