body {
  padding-top: 60px;
}
#userpic {
  margin: -15px 2px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.poster {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.movie-title {
  font-weight: bold;
  font-size: 16px;
  color: #444;
  text-shadow: #fff 1px 1px 0;
  overflow: hidden;
}
#advices .movie {
  width: 215px;
  height: 286px;
  float: left;
  margin: 0 10px 30px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  /*work*/

  background: #eeeeee;
}
#advices .movie .overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.6;
  background-color: #fff;
  padding: 5px;
}
#advices .movie .overlay.all {
  top: 0;
  bottom: 0;
  border: 3px solid #000;
}
#advices .movie .overlay.top {
  background-color: #dddddd;
  opacity: 1;
  overflow: hidden;
  box-shadow: 0px 0px 15px #222;
  text-align: center;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  height: auto;
  bottom: auto;
  text-overflow: ellipsis;
}
#advices .movie .overlay.bottom {
  background-color: #dddddd;
  opacity: 1;
  overflow: hidden;
  box-shadow: 0px 0px 15px #222;
  text-align: center;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  height: 50px;
  top: auto;
  cursor: default;
}
#advices .movie:hover .overlay {
  display: block;
}
#advices .movie _img {
  opacity: 0;
}
#advices .movie2 {
  width: 290px;
  height: 385px;
  float: left;
  margin: 15px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.inset-text {
  /* Shadows are visible under slightly transparent text color */

  color: rgba(10, 60, 150, 0.8);
  /*text-shadow: 1px 2px 2px #def, 0 0 0 #000, 1px 2px 2px #def;*/

  text-shadow: #fff 1px 1px 1px;
}
/*
working example

http://jsfiddle.net/rTTwM/
*/
.star-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin: 0;
  margin-top: 5px;
  display: inline-block;
  line-height: 30px;
  font-size: 18px;
  text-shadow: #fff 1px 1px 1px;
  /* default gray stars */

  /*active stars*/

}
.star-rating.big {
  font-size: 28px;
  line-height: 40px;
}
.star-rating.big span {
  line-height: 48px;
}
.star-rating span {
  line-height: 36px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.star-rating span:hover {
  cursor: pointer;
}
.star-rating span:before {
  content: "\f005";
  padding-right: 2px;
  color: #aaaaaa;
}
.star-rating span:first-child:before {
  padding-right: 0;
}
.star-rating span.active:before,
.star-rating span.active ~ span:before {
  color: #ff9c00 /*#08c*/;
}
.star-rating:hover {
  /*hide active on hover*/

}
.star-rating:hover span.active:before,
.star-rating:hover span.active ~ span:before {
  color: #aaaaaa;
}
.star-rating:hover span:hover:before,
.star-rating:hover span:hover ~ span:before {
  color: #ff9c00 !important;
}
#movie-page .poster {
  margin-top: 15px;
}
#movie-page .stars {
  margin: 0 0 10px 0;
}
