@import "functions";

@menuAvatarSize: 30px;
@MovieOverlaysBackground: #ddd;

@StarsBackground: #aaa;
@StarsColor: #FF9C00;
@StarsColorSelected: #FF9C00/*#08c*/;
@StarSign: "\f005";


body {
  padding-top: 60px;
}

#userpic{
  margin: -@menuAvatarSize/2 2px;
  width: @menuAvatarSize;
  height: @menuAvatarSize;
  .rounded-corners(2px);
}

.poster{
  .rounded-corners(4px);
}

.movie-title{
  font-weight: bold;
  font-size: 16px;
  color: #444;
  text-shadow: #fff 1px 1px 0;

  overflow: hidden;
}


#advices {

  .movie {
    width: 215px;
    height: 286px;
    float: left;
    margin: 0 10px 30px 10px;
    .rounded-corners(4px);
    overflow: hidden;

    position: relative;

    .overlay{
      display: none;
      position: absolute;
      left: 0;
      right:0;
      opacity: 0.6;
      background-color: #fff;
      padding: 5px;

      .movie_overlay(@height: 50px){
        background-color: @MovieOverlaysBackground;
        opacity: 1;
        overflow: hidden;
        box-shadow: 0px 0px 15px #222;
        text-align: center;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        height: @height;
      }

      &.all{
        top:0; bottom:0;
        border: 3px solid #000;
      }
      &.top{
        .movie_overlay(auto);
        bottom: auto;
        text-overflow: ellipsis;
      }
      &.bottom{
        .movie_overlay(50px);
        top: auto;
        cursor: default;
      }
    }
    &:hover .overlay{
       display: block;
    }


    /*work*/
    background: #eeeeee;
    _img {
      opacity: 0;
    }
  }

  .movie2{
    width: 290px;
    height: 385px;
    float: left;
    margin: 15px 10px;
    .rounded-corners(4px);
    overflow: hidden;
  }
}



.inset-text {
  /* Shadows are visible under slightly transparent text color */
  color: rgba(10,60,150, 0.8);
  /*text-shadow: 1px 2px 2px #def, 0 0 0 #000, 1px 2px 2px #def;*/
  text-shadow: #fff 1px 1px 1px;
}


/*
working example

http://jsfiddle.net/rTTwM/
*/

.star-rating{
  unicode-bidi:bidi-override;
  direction:rtl;
  margin: 0;
  margin-top: 5px;

  display:inline-block;
  line-height: 30px;
  font-size: 18px;
  text-shadow: #fff 1px 1px 1px;

  &.big{
    font-size: 28px;
    line-height: 40px;
    span{
      line-height: 48px;
    }
  }

  span{
    line-height: 36px;
    font-family:FontAwesome;
    font-weight:normal;
    font-style:normal;
    display:inline-block;
    &:hover{
      cursor:pointer;
    }
  }

  /* default gray stars */
  span:before{
    content: @StarSign;
    padding-right: 2px;
    color: @StarsBackground;
  }
  span:first-child:before{
    padding-right: 0;
  }
  /*active stars*/
  span.active:before,
  span.active~span:before{color: @StarsColorSelected;}

  &:hover{
    /*hide active on hover*/
    span.active:before,
    span.active~span:before{color: @StarsBackground;}

    span:hover:before,
    span:hover~span:before{color: @StarsColor !important; }
  }
}

#movie-page{
  .poster{
    margin-top: 15px;
  }
  .stars{
    margin:0 0 10px 0;
  }
}