<ul class="nav pull-right">
    <li class="dropdown">
      {{#if this}}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img id="userpic" src="{{#if this.avatar}}{{this.avatar}}{{else}}http://placehold.it/30x30{{/if}}">
            {{name}}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/profile">My profile</a></li>
            <li><a href="/profile/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
      {{else}}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/auth/twitter">Twitter</a></li>
            <li><a href="/auth/facebook">Facebook</a></li>
            <li><a href="/auth/vkontakte">VK</a></li>
        </ul>
      {{/if}}
    </li>
</ul>
