<div class="row">
    <div class="span5"> <h4>Submit for Processing</h4>
        <div class="well">
            <form id="form-movie" class="form-inline" method="POST" action="/parse-movie">
                <input type="text" name="id" class="input-medium" placeholder="Movie Id">
                <button type="submit" class="btn btn-info">Go</button>
            </form>

            <form id="form-links" class="form-inline" method="POST" action="/parse-links" data-param="url">
                <input type="text" name="url" class="span4" placeholder="Any KP Url">
                <button type="submit" class="btn btn-info">Go</button>
                <label class="_pull-left"> include existing <input type="checkbox" name="force" value="1"></label>

            </form>

            <form id="form-links-recurs" class="form-inline" method="POST" action="/parse-links-2" data-param="url">
                <input type="text" name="url" class="span4" placeholder="Any KP Url - 2 level deep">
                <button type="submit" class="btn btn-info">Go</button>
            </form>
        </div>
    </div>
    <div class="span7">
        <h4>Statistics</h4>
        <div class="well">2</div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };


        $("form").submit(function(){
            var form = $(this);
            var url=$(this).attr('action');
            var data = form.serializeObject();
            console.log(data);
            $.post(url, data, function(ret){
                console.log(ret);
                if (ret.error) {
                    $.jGrowl(ret.message, {
                        position: "bottom-right"
                    });
                }
            });
            return false;
        });
    });
</script>