<!DOCTYPE html>
<html>
  <head>
    <title>{{app_title}}</title>
      <link href="//netdna.bootstrapcdn.com//twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
      <link href="/jquery.jgrowl.css" rel="stylesheet">
      <style>
          body {
              padding-top: 60px;
          }
      </style>
      <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
      <script type="text/javascript" src="/jquery.jgrowl.js"></script>
      <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

  </head>
  <body>

  <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">
                <i class="fa fa-cog"></i>
                {{app_title}}
            </a>
          </div>
        </div>
      </div>

    <div class="container" id="main-container">

        {{{body}}}

    </div> <!-- /container -->

    </body>
</html>