<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
      <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="/css/style.css" rel="stylesheet" media="screen">
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>

  <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">{{ app_title }}</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="/advice">Рекомендации</a></li>
                <li><a href="#about">Все Фильмы</a></li>
              </ul>
              {{> top_profile user}}
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

    <div class="container" id="main-container">

        {{{body}}}

    </div> <!-- /container -->

    <script data-main="/js/app/main" src="/js/lib/require/require.min.js"></script>
    <script>
        define('config', function() {
            return {{& json config}}
        });
    </script>
    </body>
</html>